<div style="border: 2px dashed red; padding: 10px 10px; text-align: center;">
    <div style="text-align: center;;">
        <h4 style="color:red">Micro-frontend Login Component</h4>
    </div>
    <!-- <p>Login Component!</p> -->
    <span class="p-float-label" style="margin-top: 2rem;">
        <input pInputText type="text" placeholder="username" id="username" [(ngModel)]="value" />
        <!-- <label htmlFor="username">Username</label> -->
    </span>

    <div style="margin-top: 1rem;"><p-button label="Login" (onClick)="login()"></p-button>
    </div>

</div>